
.navbar-nav{
    font-size: 22px;
}
.navbar{
    background-color: #96B7F1 ;
}

.navbar-toggler{
    background-color: white;
}

.carousel-inner{
    background-color: white;
}
.carousel-inner img{
    width: 100%;
    object-fit: contain;
}
.card img{
    height: 50vh;
    object-fit: cover;
    
}
.img-top{
    width: 300px;
    object-fit: contain;

}
.nav-item-INICIAR{
    position: right;
    /*padding-left: 120%;*/
}
body{
    background-color: #FCF3F6;
}



.divclass{
    display: flex;
    justify-content: space-between;
    
    
}
button:hover{
    background-color: #424874 ;
}
a:hover{
    background-color: #8186E7;
}
span:hover{
    background-color: #424874;
}